{% extends 'front/layouts/base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <h1>Front {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/alex/Disk100/projects/symfony/symfony5-skeleton/src/Controller/Front/PageController.php'|file_link(0) }}">src/Controller/Front/PageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/alex/Disk100/projects/symfony/symfony5-skeleton/templates/front/page/index.html.twig'|file_link(0) }}">templates/front/page/index.html.twig</a></code></li>
    </ul>
{% endblock %}
