{% extends 'front/layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/alex/Disk100/projects/dockers/docker-symfony5-lts/src/Controller/Front/HomeController.php'|file_link(0) }}">src/Controller/Front/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/alex/Disk100/projects/dockers/docker-symfony5-lts/templates/front/home/index.html.twig'|file_link(0) }}">templates/front/home/index.html.twig</a></code></li>
    </ul>
{% endblock %}
